<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Oval Photo Admin</div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('admin_dashboard') }}" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
        <a href="{{ url_for('kelola_katalog') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Katalog</a>
        <a href="{{ url_for('kelola_paket') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Paket</a>
        <a href="{{ url_for('kelola_pesanan') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Pesanan</a>
        <a href="{{ url_for('kelola_jadwal') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Jadwal</a>
        <a href="{{ url_for('kelola_galeri') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Galeri</a>
        <a href="{{ url_for('kelola_user') }}" class="list-group-item list-group-item-action bg-dark text-white">Kelola Pengguna</a>
    </div>
</div>
