{% extends "user/base_user.html" %}{% block content %}
<!-- Header -->
<header class="header">
  <div class="header-content text-center">
    <h1>TENTANG KAMI</h1>
    <p>Beautiful moments created by your presence</p>
  </div>
</header>

<!-- Profil -->
<div class="container about-section">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="static/img/tentang-kami.jpg" alt="Gambar Tentang Kami" />
    </div>
    <div class="col-md-6 about-text" style="text-align: justify">
      <h2 class="fw-bold mb-3 text-center">Profil Oval Photo</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed
        numquam consequuntur voluptatibus sunt tempore consequatur. Quasi
        placeat repudiandae aliquam exercitationem nam commodi obcaecati beatae
        ad voluptates, quod ut distinctio!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        laboriosam perferendis est in nesciunt tempore odio earum, totam
        expedita officia laborum provident dolore nisi voluptas, non labore eos!
        Ea, quas?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque
        deleniti voluptates error cumque ut? Unde fuga cumque animi amet rerum
        dicta architecto deserunt sapiente, sed ex ut. Maxime, necessitatibus?
      </p>
      <div class="d-flex justify-content-center">
        <a
          href="https://wa.me/+6281362338236"
          class="contact-button"
          target="_blank"
          >Hubungi Sekarang</a
        >
      </div>
    </div>
  </div>
</div>

<!-- kenapa? -->
<div class="container my-5">
  <h2 class="text-center mb-5">Kenapa Oval Photo?</h2>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card text-center border-0 shadow-sm custom-card">
        <div class="card-body">
          <div class="icon-circle mx-auto mb-3">
            <i class="bi bi-camera-fill fs-2"></i>
          </div>
          <h4 class="card-title">High Quality Images</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed
            numquam consequuntur voluptatibus sunt tempore consequatur.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card text-center border-0 shadow-sm custom-card">
        <div class="card-body">
          <div class="icon-circle mx-auto mb-3">
            <i class="bi bi-camera-fill fs-2"></i>
          </div>
          <h4 class="card-title">Abundant Experience</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed
            numquam consequuntur voluptatibus sunt tempore consequatur.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card text-center border-0 shadow-sm custom-card">
        <div class="card-body">
          <div class="icon-circle mx-auto mb-3">
            <i class="bi bi-camera-fill fs-2"></i>
          </div>
          <h4 class="card-title">Modern Equipments</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed
            numquam consequuntur voluptatibus sunt tempore consequatur.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
